footer {
    margin-top: 10px;
}

#main-img-left, #main-img-right {
    width: 60%;
}

#main-img-right {
    margin-bottom: 10px;
}

th {
    text-align: center;
}

th, td {
    border: 1px solid black;
}

tr, td, th {
    padding: 5px;
}

    tr:nth-child(even) {
        background: #efefef;
    }

.img-mult {
    float: left;
}

label {
    width: 49%;
    padding: 0;
}

.img-mult:hover {
    background-color: #d1d1d1;
}

.img-mult:active {
    background-color: #858585;
}

#btnControl-img1,
#btnControl-img2,
#btnControl-img3,
#btnControl-img4,
#btnControl-img5 {
    display: none;
}

    #btnControl-img1:checked + label,
    #btnControl-img2:checked + label,
    #btnControl-img3:checked + label,
    #btnControl-img4:checked + label,
    #btnControl-img5:checked + label {
        width: 98%;
    }
