.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

.carousel-meta {
    margin-right: -1em;
    margin-bottom: 0.75em;
    margin-left: -2em;
}

    .carousel-meta.carousel-meta--last {
        margin-bottom: 0;
    }

    .carousel-meta li {
        color: #f8f8f8;
        display: inline;
        list-style-type: none;
        padding-right: 1em;
        font-size: 0.85em;
        font-variant: small-caps;
        letter-spacing: 1px;
    }

        .carousel-meta li:not(:last-child):after {
            content: "\25cf";
            font-style: normal;
            position: relative;
            color: rgba(255, 255, 255, 0.25);
            right: -0.6em;
        }

        .carousel-meta li > a {
            color: #f8f8f8;
        }

.content {
    background-color: white;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

    .video-container iframe,
    .video-container object,
    .video-container embed {
        position: absolute;
        top: 0;
        left: 8.75%;
        width: 82.5%;
        height: 100%;
    }

.video-margin {
    height: 50px;
}


.csharpcode, .csharpcode pre
{
	font-size: small;
	color: black;
	font-family: Consolas, "Courier New", Courier, Monospace;
	background-color: #ffffff;
	/*white-space: pre;*/
}

/*C# syntax highlight*/
.csharpcode code { margin: 0em; }

.csharpcode .rem { color: #008000; }

.csharpcode .kwrd { color: #0000ff; }

.csharpcode .str { color: #a31515; }

.csharpcode .op { color: #0000c0; }

.csharpcode .preproc { color: #cc6633; }

.csharpcode .asp { background-color: #ffff00; }

.csharpcode .html { color: #800000; }

.csharpcode .attr { color: #ff0000; }

.csharpcode .alt 
{
	background-color: #f4f4f4;
	width: 100%;
	margin: 0em;
}

.csharpcode .lnum { color: #606060; }

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
