body{
    background-color: #333333;
}

.navbar{
    background-color: #292929;
}

a.navbar-brand{
   margin-top: -10px; 
}

.navbar-brand-main{
    color: yellow;
}

.navbar-brand-sub{
    font-size: .75em;
}

.navbar-nav a{
    
}

.slides{
    margin:auto;
}

.content {
    background-color: white;
}

